<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectivity.ExtensionSettings3>

	  <!-- Vault Client Extension -->
	  <extension
		 interface="Autodesk.Connectivity.Explorer.Extensibility.IExplorerExtension, Autodesk.Connectivity.Explorer.Extensibility"
		 type="IsolatedVaultAddin.VaultExplorerExtension, IsolatedVaultAddin">
	  </extension>

	  <!-- Vault Event Handler Extension -->
	  <extension
		 interface="Autodesk.Connectivity.WebServices.IWebServiceExtension, Autodesk.Connectivity.WebServices"
		 type="IsolatedVaultAddin.VaultEventHandlerExtension, IsolatedVaultAddin">
	  </extension>

	  <!-- Vault Job Processor Extension -->
	  <extension
		interface="Autodesk.Connectivity.JobProcessor.Extensibility.IJobHandler, Autodesk.Connectivity.JobProcessor.Extensibility"
		type="IsolatedVaultAddin.VaultJobProcessorExtension, IsolatedVaultAddin">
		  <setting key="JobType1" value="IsolatedVaultAddin.VaultJobProcessorExtension"/>
	  </extension>
	  
  </connectivity.ExtensionSettings3>
</configuration>